.home::before{
    content: '';
    position:absolute;
    height: 100%;
    width:100%;
    z-index: 100;
    pointer-events:none;
    transform: all 0.5s ease-out;
  }
  .home.show::before{
   opacity:1;
   pointer-events: auto;
  }
  .form-container{
    position:fixed;
    max-width: 320px;
    width: 100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1.2);
    z-index:101;
    background: #fff;
    padding:25px;
    border-radius: 12px;
    box-shadow:rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition:all 0.4s ease;
  }
  .home .show .form-container{
   opacity:1;
   pointer-events:auto;
   transform:translate(-50%,-50%) scale(1);
  }
  .home.show .form-container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
  }
  
  .signup_form{
    display:none;
  }
  .form-container.active .signup_form{
    display:block;
  }
  .form-container.active .login_form{
    display:none;
  }
  .form_close{
    position: absolute;
    top:10px;
    right:20px;
    color:#0b0217;
    font-size:22px;
    opacity:0.7;
    cursor:pointer;
  }
  .form-container h2{
    font-size: 22px;
    color:#0b0217;
    text-align: center;
  }
  .input_box{
    position:relative;
    margin-top:30px;
    width: 100px;
    height :40px;
  }
  .input_box input{
    height:100%;
    width: 246px;
    outline: none;
    border: none;
    padding: 0 30px;
    color:#333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
  }
  .input_box input:focus{
    border-color: #0b0217;
  }
  .input_box i{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
  }
  .input_box i.email,
  .input_box i.password{
    left:0;
  }
  .input_box input:focus ~i.email,
  .input_box input:focus ~i.password{
    border-color: black;
  }
  .input_box i.pw_hide{
    /* right:0; */
    left: 230px;
    font-size:10px;
    cursor: pointer;
  }
  .option_field{
    margin-top: 14px;
    display:flex;
    align-items:center;
    justify-content: space-between;
  }
  .form-container a{
    color:black;
    font-size: 12px;
  }
  .form-container a:hover{
    text-decoration:underline;
  }
  .checkbox{
    display:flex;
    column-gap: 8px;
    white-space: nowrap;
    font-size: 12px;
  }
  .chcekbox input{
    accent-color:black;
  }
  .checkbox label{
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    /* color:#0b0217; */
  }
  .form-container .button{
     background: black;
     margin-top: 30px;
     width:100%;
     padding: 10px 0;
     border-radius: 10px;
     border: none;
     outline: none;
     color: #fff;
  }
  .form-container .googleBtn{
    background: linear-gradient(to right, #f1642c 0%, #f9942a 50%, #f9945a 100%);
     margin-top: 7px;
     display: flex;
     align-items: center;
     justify-content: center;
     width:100%;
     padding: 10px 0;
     border-radius: 10px;
     border: none;
     outline: none;
     color: #fff;
     cursor: pointer;
  }
  .login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }
  
  .signup_form{
    display:none;
  }
  img {
    max-width: 100%;
  }
  
  a,
  button,
  input,
  textarea {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
